In [111]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression as lr
from imblearn.over_sampling import RandomOverSampler

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [112]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
file_path = Path('Resources/lending_data.csv')
lending_df = pd.read_csv(file_path)

# Review the DataFrame
lending_df.head(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
5,10100.0,7.438,50600,0.407115,4,1,20600,0
6,10300.0,7.490,51100,0.412916,4,1,21100,0
7,8800.0,6.857,45100,0.334812,3,0,15100,0
8,9300.0,7.096,47400,0.367089,3,0,17400,0
9,9700.0,7.248,48800,0.385246,4,0,18800,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [113]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_df['loan_status']

# Separate the X variable, the features
x = lending_df.drop(columns = 'loan_status')

In [114]:
# Review the y variable Series
display(y.head(10))

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: loan_status, dtype: int64

In [115]:
# Review the X variable DataFrame
display(x.head(10))

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
5,10100.0,7.438,50600,0.407115,4,1,20600
6,10300.0,7.490,51100,0.412916,4,1,21100
7,8800.0,6.857,45100,0.334812,3,0,15100
8,9300.0,7.096,47400,0.367089,3,0,17400
9,9700.0,7.248,48800,0.385246,4,0,18800

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [116]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [117]:
# Split the data using train_test_split
# Assign a random_state of 1 to the function
x_train, x_test, y_train, y_test = train_test_split(
    x, 
    y, 
    random_state = 1
)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [118]:
# Instantiate the Logistic Regression(lr) model
# Assign a random_state parameter of 1 to the model
lr_model = lr(random_state = 1)

# Fit the model using training data
lr_model.fit(x_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [119]:
# Make a prediction using the testing data
lr_pred = lr_model.predict(x_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [120]:
# Print the balanced_accuracy score of the model
balanced_acc_score = balanced_accuracy_score(y_test, lr_pred)
print("Balanced Accuracy Score:", balanced_acc_score)

Balanced Accuracy Score: 0.9520479254722232

In [121]:
# Generate a confusion matrix(cm)for the model
cm = confusion_matrix(y_test, lr_pred)
confusion_matrix_df = pd.DataFrame(cm, 
                                index = ['Healthy', 
                                'High-Risk'], 
                                columns = ['Predicted Healthy', 'Predicted High-Risk']
                              )
confusion_matrix_df

           Predicted Healthy  Predicted High-Risk
Healthy                18663                  102
High-Risk                 56                  563

In [122]:
# Print the classification report for the model
class_report = classification_report(y_test, lr_pred)
print("Classification Report:")
print(class_report)

Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 
Precision and F1 scores of 100% and a 99% recall score for the majority class (healthy loans) indicate that the model performs well for the majority class (healthy loans). However, there is a slight decrease in performance for the minority class (high-risk loans) with 85% precision, 91% recall and 88% F1 score. 

A 99% accuracy signifies that the model predicts correctly for the majority of samples.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [123]:
# Instantiate the random oversampler(ros) model
# # Assign a random_state parameter of 1 to the model
ros_model = RandomOverSampler(random_state = 1)

# Fit the original training data to the random_oversampler model
x_oversampled, y_oversampled = ros_model.fit_resample(x_train, y_train)

In [124]:
# Count the distinct values of the resampled labels data
resampled_labels_count = y_oversampled.value_counts()
print("Resampled Labels Count:")
print(resampled_labels_count)

Resampled Labels Count:
0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [125]:
# Instantiate the Logistic Regression(lr) model
# Assign a random_state parameter of 1 to the model
lr_resampled_model = LogisticRegression(random_state = 1)

# Fit the model using the resampled training data
lr_resampled_model.fit(x_oversampled, y_oversampled)

# Make a prediction using the testing data
lr_resampled_pred = lr_resampled_model.predict(x_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [130]:
# Print the balanced_accuracy score of the model 
balanced_accuracy = balanced_accuracy_score(y_test, lr_resampled_pred)
print("Resampled Balanced Accuracy Score:")
print(balanced_accuracy)

Resampled Balanced Accuracy Score:
0.9936781215845847

In [129]:
# Generate a confusion matrix(cm) for the model
cm_resampled = confusion_matrix(y_test, lr_oversampled_pred)
cm_resampled_df = pd.DataFrame(cm_resampled, 
                                index = ['Healthy Loans', 
                                'High-Risk Loans'], 
                                columns = ['Predicted Healthy Loans', 'Predicted High-Risk Loans']
                              )
cm_resampled_df

                 Predicted Healthy Loans  Predicted High-Risk Loans
Healthy Loans                      18649                        116
High-Risk Loans                        4                        615

In [128]:
# Print the classification report for the model
class_report_resampled = classification_report(y_test, lr_resampled_pred)
print("Resampled Classification Report:")
print(class_report_resampled)

Resampled Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.84      0.99      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 
The results indicate that the oversampled model performs exceptionally well, with high precision, recall, and F1-score for both classes as opposed to the original model. The balanced accuracy score increased from 95% to 99%. 


In the classification results, while the majority class (healthy loans) maintained its scores, we see in the oversampled model improved recall (91% to 99%) and F1 scores (88 % to 91%) in the minority class (high-risk loans). The precision score for high-risk loans slightly decreased while the accuracy score remained at 99%, demonstrating both models' ability to accurately classify the majority of instances in the test set.